body {
    padding: 0;
    margin: 0;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

.header-title {
    color: white;
    text-align: center;
    margin: 20px;
}

.home-title {
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-align: center;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Image */
.img-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 300px;
    height: auto;
}

.img-container img {
    width: 360px;
}

.img-two {
    width: 100px;
    height: auto;
    margin-top: 25px;
}

.img-two img {
    width: 500px;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.con-two {
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding:  0 50px 0 50px;
}

.box-container {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 18rem;
    height: auto;
    margin: 20px 20px 20px 20px;
    border: solid 1px white;
    border-radius: 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Transitions */
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.box p {
    color: white;
    text-align: center;
}


/* Body text */
.text-container {
    padding: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.white-text {
    color: white;

}

.small-title {
    margin: 0;
    color: beige;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: black;
}

.sm-title {
    color: black;
}

/* Button */
.button {
    color: black;
    background-color: beige;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 20px;
}

.button:hover {
    background-color: black;
    color: beige;
    border: solid 1px beige;
}

.btn {
    background-color: white;
    color: grey;
    border: dotted 2px grey;
}

.btn:hover {
    background-color: grey;
    color: white;
}

/* Media */
@media (max-width: 430px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .text-container {
        margin-left: 0;
    }
}