body {
    padding: 0;
    margin: 0;
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    color: beige;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.header-title {
    color: black;
    text-align: center;
    margin: 1rem;
}

.navbar {
    background-color: beige;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-align: center;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Container */
.container {
    background-image: url('img/book-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.con-two {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-two-img {
    background-image: url('img/buildings.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.announcements-container {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

/* Boxes */
.box {
    width: 18rem;
    height: auto;
    margin: 1rem;
    border: solid 1px white;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Transitions */
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 18rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.box p {
    color: white;
    text-align: center;
}


/* Body text */
.text-container {
    border: solid 1px beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.txt {
    margin: 1rem !important;
    background-color: beige;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.txt p {
    color: black;
}

.txt-end {
    margin-left: 2rem;
    padding: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.txt-end p {
    color: white;
}

.small-title {
    color: beige;
    margin: 0;
    font-size: 1.12rem;
    font-family: 'Roboto', sans-serif;
}

.home-title {
    color: beige;
}

.white-text {
    color: white;
}

.title {
    margin-top: 0.5rem;
    color: black;
}

.sm-title {
    color: black !important;
    margin: 0;
}

.posts-title {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.announcements-title {
    color: beige;
}

/* Footer */
.footer-container {
    background-color: white;
    height: auto;
    width: 100%;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    color: black;
}

/* Buttons */
.button {
    color: black;
    background-color: beige;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 1.5rem;
    border: solid 1px beige;
}

.button:hover {
    background-color: transparent;
    color: beige;
    border: solid 1px beige;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: solid 1px black;
    color: black;
}

.btn:hover {
    background-color: black;
    color: beige;
}

.view-btn {
    color: beige;
    background-color: black;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 1.5rem;
}

.view-btn:hover {
    background-color: beige;
    color: black;
}

/* About page */
.about-container {
    width: 100%;
}

.about-title {
    color: beige;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-left: 3rem;
    text-align: start;
}

.about-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
}

.img-container img {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.about-text-body {
    margin: 1rem;
    color: white;
    width: 50%;
    height: 50%;
}

.about-text-body p {
    font-size: 20px;
}

/* Media */
@media (max-width: 430px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .txt {
        padding: 1rem;
    }

    .box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-two {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-title {
        color: beige;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 28px;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text-body {
        width: 75%;
        height: auto;
    }

    .img-container {
        width: 100%;
        height: auto;
    }

    .img-container img {
        border-radius: 0;
    }

    .about-title {
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .con-two {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .txt-end {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}