body {
    margin: 0;
}

li {
    list-style: none;
    padding: 15px;
}

a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* CLASSES */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-links {
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    position: relative;
    text-align: center;
    background-image: url('img/coffee.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* Set a specific height or make it responsive to content */
    height: 500px; /* Example height */
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.nav a {
    color: white;
}

.sm-links a {
    color: white;
}

.sm-links li {
    display: inline-block;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(65, 65, 65);
}

.footer-title {
    /* font-family: 'Great Vibes', cursive; */
    letter-spacing: 3px;
    margin-bottom: 0;
    font-size: 35px !important;
}

.fab {
  padding-left: 5px;
  font-size: 23px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.hr-short {
    border: solid 1px black;
    width: 50%;
    text-align: center;
}

/* BLOG POSTS */
.button {
    font-size: 10px;
    padding: 5px 10px;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
    color: white;
    border: solid 1px black;
    background-color: #000;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-image: url('img/book-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18rem;  
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 2px 2px 4px #000;
    transform: scale(1.01);
}

.card-body {
    padding: 15px;
    color: white;
}

.blog-title {
    text-align: center;
    font-size: 30px;
}

.blog-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */
@media (min-width: 250px) {
    /* Cards */
    .card-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 300px) {
    .header-title {
        font-size: 30px;
    }
    .footer {
        padding: 50px;
    }
    .footer-title {
        font-size: 20px;
    }
    .nav a {
        font-size: 20px;
    }
    .hr-short {
        width: 75%;
    }
    h2 {
        font-size: 25px;
    }

    /* Cards */
    .card-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 430px) {
    .header-title {
        font-size: 35px;
    }
    .footer-title {
        font-size: 25px;
    }
    .nav a {
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }
}

@media (min-width: 540px) {
    .header-title {
        font-size: 35px;
    }
    .footer-title {
        font-size: 25px;
    }
    .nav a {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
}

@media (min-width: 750px) {
    .header-title {
        font-size: 40px;
    }
    .footer-title {
        font-size: 35px;
    }
    .nav a {
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
    }

    /* Cards */
    .card-container {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 820px) {
    .header-title {
        font-size: 50px;
    }
    .footer {
        padding: 50px;
    }
    .footer-title {
        font-size: 40px;
    }
    .nav a {
        font-size: 20px;
    }
    h2 {
        font-size: 45px;
    }

    /* Cards */
    .card-container {
        display: flex;
        flex-direction: row;
    }
}

