body {
    padding: 0;
    margin: 0;
    background-color: #000000ef;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

h1 {
    color: white;
    font-weight: 400;
}

h2 {
    color: white;
    font-family: 'Inter', sans-serif;
}

h3 {
    color: #95B5EA;
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-align: start;
}

header {
    padding: 1rem;
    background-color: #1e1e1eef;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- */
    /* INTRODUCTION */
/* ---------------------- */
.text-body {
    margin-top: 2rem;
}

/* ---------------- */
    /* CARD */
/* ---------------- */
.card-container {
    perspective: 1000px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25rem;
    height: 25rem;
    margin: 0.1rem;
    padding: 1rem;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    top: 0;
    left: 0;
}

.card-back {
    background-color: #4b4b4b;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(-180deg);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1 {
    background-image: url('/img/BLD_2_Dark.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-2 {
    background-image: url('/img/BLD_3_Dark.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-3 {
    background-image: url('/img/BLD_5_Dark.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-4 {
    background-image: url('/img/Cancun-Building-2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------------- */
        /* CONTAINERS */
/* -------------------------- */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-two {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    margin: 2rem;
}

.project-container{
    display: flex;
    flex-direction: row;
}

/* -------------------------- */
        /* BODY TEXT */
/* -------------------------- */
.text-container {
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.txt {
    margin: 1rem !important;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}

.txt p {
    color: black;
}

.txt-end {
    padding: 1rem;
}

.txt-end p {
    color: white;
}

.small-title {
    margin: 0;
    font-size: 1.12rem;
    font-family: 'Roboto', sans-serif;
}

.home-title {
    color: #FCF5C7;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.white-text {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin: 0.5rem 0;
}

.title {
    font-size: 20px;
    color: black;
}

.sm-title {
    color: white;
    margin: 0;
}

.posts-title {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

/* -------------------------- */
        /* BUTTONS */
/* -------------------------- */
.btn {
    padding: 0.5rem 1rem;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
}

.view-btn {
    font-size: 20px;
    color: white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: solid 2px white;
}

.view-btn:hover {
    background-color: white;
    border-color: white;
    color: black;
}

#button {
    color: black;
    padding: 0.3rem 2rem;
    background-color: white;
    border: solid 1px white;
    border-radius: 3px;
    text-align: center;
}

/* -------------------------- */
            /* SVG */
/* -------------------------- */
svg {
    text-align: center;
}

/* -------------------------- */
        /* ABOUT PAGE */
/* -------------------------- */
.about-container {
    background-color: #1e1e1eef;
    width: 100%;
}

.about-title {
    margin-top: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-left: 3rem;
    text-align: start;
}

.about-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-container {
    margin: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 25%;
    height: 30%;
}

.img-container img {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
}

.about-text-body {
    margin: 1rem;
    color: white;
    width: 50%;
    height: 50%;
}

.about-text-body p {
    font-size: 20px;
}

.profile-img {
    box-shadow: 3px 3px 8px black;
}

/* -------------------------- */
        /* NAVBAR */
/* -------------------------- */
.menu {
    font-family: 'Inter', sans-serif;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
    right: 0;
    top: 60px; /* Adjust based on header height */
    margin: 1rem;
    border-radius: 5px;
}

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu a:hover {
    background-color: #c3c3c3;
    border-radius: 5px;
}

.icon {
    padding: 0.5rem;
    display: block;
    user-select: none;
    font-size: 25px; /* Icon size */
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: white;
    border-radius: 50px;
}

/* -------------------------- */
        /* BLOG PAGE */
/* -------------------------- */
.blog {
    width: 100%;
    height: auto;
    text-align: center;
}

.blog-titles {
    margin: 1rem;
    text-align: start;
}

.white-blog-title {
    color: #f1f1f1;
}

/* -------------------------- */
        /* BLOG 1 */
/* -------------------------- */
.blog-title {
    color: #f1f1f1;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.blog-txt-title {
    font-size: 40px;
    text-align: center;
}

.blog-txt-body {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blog-txt {
    color: #f1f1f1;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.blog-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog-img {
    width: 18rem;
    height: auto;
    margin: 1rem 0 1rem 0;
    transition: transform 0.3s ease;
}

.blog-img:hover {
    transform: scale(1.07);
}

/* -------------------------- */
        /* FOOTER */
/* -------------------------- */
.footer {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    padding: 1rem 0 1rem 0;
    margin: 0;
    font-size: 12px;
    color: black !important;
}

/* -------------------------- */
        /* GALLERY */
/* -------------------------- */
.gallery-container {
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    width: 50%;
    height: 50%;
    margin: 2rem;
}

.col img {
    width: 100%;
    height: 100%;
}

/* -------------------------- */
        /* PROJECTS */
/* -------------------------- */
.project-img {
    width: 45%;
    height: 45%;
    border-radius: 0.5rem;
}

/* -------------------------- */
        /* TRAVEL */
/* -------------------------- */
.travel-container {
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.travel {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* -------------------------- */
        /* MEDIA */
/* -------------------------- */
@media (max-width: 390px) {
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .icon {
        padding: 0.2rem;
        font-size: 25px; /* Icon size */
    }

    .projects-container {
        margin: 1rem;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-img {
        padding: 1rem;
        box-shadow: none;
    }

    .card-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 1rem;
        width: 18rem;
        height: 18rem;
    }
}

/* ---------------- */
    /* 430px */
/* ---------------- */
@media (max-width: 430px) {
    h1 {
        font-size: 26px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .txt {
        padding: 1rem;
    }

    .box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-two {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-title {
        color: white;
        font-weight: 600;
        font-size: 28px;
    }

    .about-text-container {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .about-text-body {
        margin: 0;
        padding: 1rem;
        width: 75%;
        height: auto;
    }

    .about-text-body p {
        font-size: 20px;
    }

    .img-container {
        width: 100%;
        height: auto;
    }

    .img-container img {
        border-radius: 0;
    }

    .about-title {
        text-align: center;
        margin-left: 0;
    }

    .bread-crumb {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col {
        margin: 1rem;
        width: 100%;
    }

    .projects-container {
        margin: 1rem;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
    }

    .card-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 1rem;
        width: 18rem;
        height: 18rem;
    }
}

/* ---------------- */
    /* 768px */
/* ---------------- */
@media (max-width: 768px) {
    .con-two {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .txt-end {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .about-title {
        color: white;
        font-weight: 600;
        font-size: 28px;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text-body {
        margin: 0;
        padding: 1rem;
        width: 75%;
        height: auto;
    }

    .img-container {
        border-radius: 0;
        width: 100%;
        height: auto;
    }

    .img-container img {
        border-radius: 0;
    }

    .about-title {
        text-align: center;
        margin-left: 0;
    }

    .projects-container {
        margin: 1rem;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
    }
}

/* ---------------- */
    /* 820px */
/* ---------------- */
@media (max-width: 820px) {
    .con-two {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .txt-end {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .about-title {
        color: white;
        font-weight: 600;
        font-size: 28px;
    }

    .about-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-text-body {
        margin: 0;
        padding: 1rem;
        width: 75%;
        height: auto;
    }

    .img-container {
        border-radius: 0;
        width: 100%;
        height: auto;
    }

    .img-container img {
        border-radius: 0;
    }

    .about-title {
        text-align: center;
        margin-left: 0;
    }

    .projects-container {
        margin: 1rem;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
    }

    .profile-img {
        width: 20rem !important;
        height: 20rem !important;
    }
}

/* ---------------- */
    /* 1064px */
/* ---------------- */
@media (max-width: 1064px) {
    .blog-txt-body {
        padding: 1rem;
    }

    .con-two {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .txt-end {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .about-title {
        color: white;
        font-weight: 600;
        font-size: 28px;
    }

    .about-text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about-text-body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .about-text-body p {
        font-size: 15px;
    }

    .img-container {
        border-radius: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container img {
        border-radius: 0;
    }

    .about-title {
        text-align: center;
        margin-left: 0;
    }

    .projects-container {
        margin: 1rem;
    }

    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
    }

    .profile-img {
        width: 20rem !important;
        height: 20rem !important;
    }
}